<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <meta name="description" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/non-responsive.css" rel="stylesheet">


</head>

<body>

    <!--logo section -->
    <section class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <div class="top_logo">
                        <img src="/static/images/logo.png">
                    </div>
                    <div class="top_stats">
                        <div class="top_stats_block">
                            Last Price: <strong>273.16 USD</strong>
                        </div>
                        <div class="top_stats_block">
                            Low: <strong>268.9309 USD</strong>
                        </div>
                        <div class="top_stats_block">
                            High: <strong>275.4379 USD</strong>
                        </div>
                        <div class="top_stats_block">
                            Volume: <strong>6081 BTC / 1655968 USD</strong>
                        </div>
                        <div class="top_stats_block">
                            Server Time: <strong id='server_time'></strong>
                        </div>
                    </div>
                </div>
                
                
              {% include "user_block.html"%}
                
                
            </div>
        </div>

    </section>
    <!--end of top logo section -->

    <!-- MAIN MENU-->
    <section>
        <div class="menu_back">
            <div class="container">
                <div id="menu_style">
                    <ul>
                        <li class="menu_active"><a href="/stock">ТОРГИ</a></li>
                        <li><a href="/page/news">НОВОСТИ</a></li>
                        <li><a href="/page/rules">ПРАВИЛА</a></li>
                        <li><a href="/page/faq">FAQ</a></li>
                        <li><a href="/page/support">ПОДДЕРЖКА</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END MAIN MENU-->

    <!--CONTENT BLOCK-->
    <section>
      {% block content %} {% endblock %}
    </section>
    <!--END CONTENT BLOCK-->

    <!--FOOTER BLOCK-->
    <section>
        <div class="footer_top_border"></div>
        <div class="container">
            <div class="col-xs-6 col-sm-6 top_logo">
                <img src="/static/images/logo.png">
            </div>
            <div class="col-xs-6 col-sm-6 footer_contacts">
                Skype: bitmoney.center <br />
                Email: info@bitmoney.center
            </div>        
        </div>
    </section>
    <!--END FOOTER BLOCK-->
   

{% include "scripts.html" %}
{% include "external_script.html" %}
{% block scripts %} {% endblock %}
 {% include "modal_dlg.html" %}  

</body>




</html>
