{% extends "base_main.html" %}

{% load my_formats %}


{% block side_menu %}
   <div class="sidebar_cabinet_block">
                        <div class="content_block_header">
                            <h1>Личный кабинет</h1>
                        </div>
                            <div class="sidebar_cabinet_options">
                                <table class="table table-striped"> <!--НУЖНО сделать подсветку активного пункта яваскриптом --> 
                                  <tbody>
                                    <tr>
                                        <td>
                                            <a href="/finance">Финансы</a>                 
  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        <a href="/profile/{{username}}">Профиль</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        <a href="/finance/trans">Транзакции</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        <a href="/finance/deals/btc_uah">Сделки</a>
                                        </td>
                                    </tr>                                                                                                                          
                                    <tr>
                                        <td>
                                        <a href="/finance/open_orders/btc_uah">Ваши заявки</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        <a id="menu_msgs" href="/msgs">Сообщения <strong id="msg_count">({{new_msg_count}})</strong> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                       <a href="/finance/depmotion">Ввод/Вывод средств</a>
                                        </td>
                                    </tr>
                                 <!--   <tr>
                                        <td>
                                        История ордеров
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        API ключи
                                        </td>
                                    </tr>   -->                                                                                                                       
                                                                                                                                                                   
                                  </tbody>
                                </table>
                            </div> 
                    </div>
{% endblock %}


{% block content %}
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 main">
           <div class="col-md-12">      
                <h1 class="page-header">Ваши  заявки на покупку/продажу</h1>
          </div>
         <div class="col-md-12">      

                <div class="trade_pairs">
                {% for Currency in CurrencyTrade %}
                        {% if Currency.url_title == current_stock %}
                                <a class="btn btn-primary" href="#" id="stock_{{Currency.url_title}}" >{{Currency.title}}</a>
                         
                         
                          {% else %}
                        
                        
                                {%if Currency.is_title %}
                                
                                {% else %}
                                        <a class="btn btn-default" href="/finance/open_orders/{{Currency.url_title}}" id="stock_{{Currency.url_title}}" >{{Currency.title}}</a>
                                {% endif %}
                        {% endif %}
                        
                {% endfor %}
                </div>
         </div>
<!--           deals -->
         {% include "my_open_orders.html"%}
<!--                 deals -->
        </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->




{%endblock%}

{% block scripts %}


     <script type="text/javascript">
      Main.trade_pair = "{{trade_pair}}";
      Main.currency_base = "{{Currency1}}";
      Main.currency_on = "{{Currency}}";
      setTimeout(Main.my_orders,500);
    </script>

{% endblock %}
